body{
  padding: 0px;
  margin: 0px;
}
#displayCalc{
display: flex;
justify-content: center;
}
#Container{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  width: 800px;
  justify-content: center;
  border: solid 5px black;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.hienThi{
border: solid 2px;
border-color:#0b0c0d;
border-radius: 4px;
background-color: rgb(213, 232, 232);
padding: 20px;
}
#ketQua{
  background-color: antiquewhite;
  border-radius: 5px;
  font-size: 40px;
  padding: 40px;
}
.grid-container button{
width: 160px;
height: 55px;
font-size: 30px;
border-radius: 5px;
background-color: antiquewhite;
}
